<div ng-include="'views/partials/addDeal'"></div>
<div id="status">
        <div id="lost">
          <span>Lost</span>
          <div></div>
          </div>
        <div id="won">
          <span>Won</span>
          <div></div>
        </div>
      </div>
<div class="conteiner">
  
    <!--peapline page -->
    <div class="pipline">
      
      <div class="piplineBody">
        <div class="piplineHead">
          <h1>Lead</h1>
          <span>$50,000/2 Deals</span>
        </div>
        <div class="peeplinedragConteiner connect">
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockYellow">Add step</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
        </div>
      </div>
      <div class="piplineBody">
        <div class="piplineHead">
          <h1>Contacted</h1>
          <span>$50,000/2 Deals</span>
        </div>
        <div class="peeplinedragConteiner connect">
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockYellow">Add step</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
        </div>
      </div>
      <div class="piplineBody">
        <div class="piplineHead">
          <h1>Qualified</h1>
          <span>$50,000/2 Deals</span>
        </div>
        <div class="peeplinedragConteiner connect">
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockYellow">Add step</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockYellow">Add step</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockYellow">Add step</div>
            </div>
          </div>
        </div>

      </div>
      <div class="piplineBody">
        <div class="piplineHead">
          <h1>Proposal</h1>
          <span>$50,000/2 Deals</span>
        </div>
        <div class="peeplinedragConteiner connect">
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
        </div>
      </div>
      <div class="piplineBody">
        <div class="piplineHead">
          <h1>Negotiation</h1>
          <span>$50,000/2 Deals</span>
        </div>
        <div class="peeplinedragConteiner connect">
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockGreen">Dec 14</div>
            </div>
          </div>
          <div class="drag">
            <div class="piplineInfo">
              <h2>500 Printed shirts</h2>
              <h3>$ 325K, Amdocs</h3>
              <div class="clock clockRed">Apr 14</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'views/partials/actionDeal.html'" ng-show="dealAction"></div>