<div class="conteiner">
		<!-- header section its will be included by ng-include-->
		<!--add deal page -->
		<div class="addDeal">
			<div class="rectengle"></div>
			<div class="left">
				<h1>Trip to Thailand</h1>
			</div>
			<div class="right">
				
			</div>
		</div>
		<!--add deal page end -->
		<div class="deal-card">
			<div class="dealCard-top">
				<div>
					<h1>$500k</h1>
					<span>Amount</span>
				</div>
				<div>
					<h1>JUNE 31</h1>
					<span>Next step</span>
				</div>
				<div>
					<h1>Negotiation</h1>
					<span>Stage</span>
				</div>
				<div>
					<h1>27D</h1>
					<span>Deal age</span>
				</div>
				<div>
					<h1>SEP 1</h1>
					<span>Close date</span>
				</div>
				<div>
					<h1>APR 31</h1>
					<span>last activity</span>
				</div>
				<div>
					<h1></h1>
					<span>owner</span>
				</div>
			</div>
			<div class="dealCard-left">
				<div>
					<ul>
						<li><h1>Deal details<h1></li>
						<li>
							<span>Company</span>
							<p>I.B.M</p>
						</li>
						<li>
							<span>Contact</span>
							<p>Alon Mils</p>
						</li>
						<li>
							<span>Phone</span>
							<p>44-53364-552</p>
						</li>
						<li>
							<span>Email</span>
							<p>alon@mils.co.uk</p>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li><h1>Contacts (2)</h1></li>
						<li>
							<h1>David Beckham</h1>
							<div>
								<span>052-5632433,</span>
								<span>04-56622222</span>
							</div>
							<p>david@mils.co.uk</p>
						</li>
						<li>
							<h1>Mila Kunis</h1>
							<div>
								<span>052-5632433,</span>
								<span>03-56222122</span>
							</div>
							<p>david@mils.co.uk</p>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li><h1>Activities (3)</h1></li>
						<li>
							<h1>Call Mila about closing...</h1>
							<p>44-53364-552</p>
						</li>
						<li>
							<h1>Call Mila about closing...</h1>
							<p>44-53364-552</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="dealCard-right">
				<div>
					<div>
						<ul>
							<li>Note</li>
							<li>Email</li>
							<li>File</li>
						</ul>
					</div>
					<div>
						<div id="drug-file"></div>
					</div>
					<div></div>
				</div>
			</div>
		</div>		
	</div>