<div ng-include="'views/partials/addDeal'"></div>
<div class="conteiner">
	<!--list page-->
	<div class="listPage">
		<div class="listRow listHeader">
			<div class="unit col1"><h1>Deal Name</h1></div>
			<div class="unit col2"><h1>Next activity</h1></div>
			<div class="unit col3"><h1>Stage</h1></div>
			<div class="unit col4"><h1>Amount</h1></div>
			<div class="unit col5"><h1>Close date</h1></div>
			<div class="unit col6"><h1>Deal Age</h1></div>
			<div class="unit col7"><h1>Last activity</h1></div>
		</div>
		<div class="listRow">
			<div class="unit col1">
				<h1>Trip to Thailand</h1>
				<h2>Alon Milis, IBM</h2>
			</div>
			<div class="unit col2">
				<button class="redListBtn">Apr 14</button>
			</div>
			<div class="unit col3">
				<h2>Lead</h2>
			</div>
			<div class="unit col4">
				<h2>$ 500K</h2>
			</div>
			<div class="unit col5">
				<h2>Apr 4, 14</h2>
			</div>
			<div class="unit col6">
				<h2>37d</h2>
			</div>
			<div class="unit col7">
				<h2>Meeting (3d..)</h2>
			</div>
		</div>
		<div class="listRow">
			<div class="unit col1">
				<h1>New car</h1>
				<h2>Bob Mitt, Appele</h2>
			</div>
			<div class="unit col2">
				<button class="yellowListBtn">Add step</button>
			</div>
			<div class="unit col3">
				<h2>Contacted</h2>
			</div>
			<div class="unit col4">
				<h2>$ 225k</h2>
			</div>
			<div class="unit col5">
				<h2>Jul 7, 15</h2>
			</div>
			<div class="unit col6">
				<h2>2d</h2>
			</div>
			<div class="unit col7">
				<h2>Email (1d...)</h2>
			</div>
		</div>
		<div class="listRow">
			<div class="unit col1">
				<h1>Call (Today)</h1>
				<h2>Michal Jeorg, Faceb...</h2>
			</div>
			<div class="unit col2">
				<button class="greenListBtn">Dec 31</button>
			</div>
			<div class="unit col3">
				<h2>Proposal</h2>
			</div>
			<div class="unit col4">
				<h2>$ 66k</h2>
			</div>
			<div class="unit col5">
				<h2>Jun 23. 15</h2>
			</div>
			<div class="unit col6">
				<h2>1d</h2>
			</div>
			<div class="unit col7">
				<h2>Call (Today)</h2>
			</div>
		</div>
		<div class="listRow">
			<div class="unit col1">
				<h1>Time sharing o...</h1>
				<h2>Alon Milis, Grunding</h2>
			</div>
			<div class="unit col2">
				<button class="greenListBtn">Dec 31</button>
			</div>
			<div class="unit col3">
				<h2>Meeting</h2>
			</div>
			<div class="unit col4">
				<h2>$ 999</h2>
			</div>
			<div class="unit col5">
				<h2>May 4, 14</h2>
			</div>
			<div class="unit col6">
				<h2>47d</h2>
			</div>
			<div class="unit col7">
				<h2>Email (Today)</h2>
			</div>
		</div>
		<div class="listRow">
			<div class="unit col1">
				<h1>5 Nights in Hilton</h1>
				<h2>Ruth Note, Radwaer</h2>
			</div>
			<div class="unit col2">
				<button class="yellowListBtn">Add step</button>
			</div>
			<div class="unit col3">
				<h2>Won</h2>
			</div>
			<div class="unit col4">
				<h2>$ 300</h2>
			</div>
			<div class="unit col5">
				<h2>Oct 3, 15</h2>
			</div>
			<div class="unit col6">
				<h2>2d</h2>
			</div>
			<div class="unit col7">
				<h2>Meeting (55d ago)</h2>
			</div>
		</div>
	</div>
	<!--end list page -->  
</div>    
<div ng-include="'views/partials/actionDeal.html'" ng-show="dealAction"></div>
			