
		<div class="header">
			<div class="headLeft">
				<div class="responsiveNave"></div>
				<a class="logo" href=""></a>
				<ul>
		  			<li>Deals</li>
		  			<li><a href='/#contacts'>Contacts</li>
		  			<li>Activities</li>
				</ul>
			</div>
			<div class="headRight">
				<div class="search">
					<span></span>
				</div>
				<div class="bell"></div>
				<div class='imageUser'>
					<img src="assets/profile-pic.png">
				</div>
				<div class="userName"><%= current_user.email %></div>
				<div class="userInfo"></div>
			</div>
		</div>
		<div ng-controller="InheritCtrl">
			<div ng-view></div>
		</div>
	


