
	<div id="over"></div>
	<div class="conteiner" ng-controller="Login">
		<div class="subConteiner">
			<div class="logoHeader">
				<a href="/" id="logo"></a>
			</div>
			<div class="formConteiner">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<p>
						<%= f.label :email %>
						<%= f.email_field :email,autofocus:'on',spellcheck:'off' %>
					</p>
					<p>
						<%= f.label :password %> <span><a href="login_forgot.html">forgot?</a></span>
						<%= f.password_field :password, autocomplete: "off" %>
					</p>
					<p>
						<% if devise_mapping.rememberable? -%>
					    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				    	<% end -%>
					</p>
					
					<p>
						<%= f.submit "Sign in" %>
						<span class="eror">That email or password is incorrect. Please try again</span>
					</p>		
				<% end %>
				
			</div>
			<div class="footer">
				<div class="googleSignIn">
					<div class="googleImg"></div><div class="google">sign in with Google</div>
				</div>
				<div class="bottom">
					<div class="createAccount"><span>Create</span> <span>an</span> <span>account</span></div>
					<div class="back">
						<a href="">Back to Vicenty.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>


<%= render "devise/shared/links" %>
