.actionDealOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(35, 31, 32, 0.5);
	z-index: 9999999999;
	top: 0;
	
	overflow: auto;
}
.actionDealPopup {
position: relative;
width: 753px;
height: 450px;
box-shadow: -1px 4px 10px 6px rgb(131, 126, 126);
background: white;
top: -300px;
border-radius: 4px;
/* padding-top: 35px; */
  
-webkit-box-sizing: border-box;
opacity: 0;
-webkit-transition: all .1s;
margin: 0 auto!important;
z-index: 11;
}

.actionDealPopup	> div{

}
.actionDealPopup	> div:first-child {
text-align: left;
color: #FFFFFF;
font-family: HelveticaNeue-Medium;
font-size: 24px;
width: 100%;
height: 60px;
background: #5E99E7;
line-height: 59px;
padding-left: 25px;
-webkit-box-sizing: border-box;
}
.actionDealPopup > .dealConteinerAction{
	padding-left: 41px;
}



///
input{
	outline: none;
	
}
.actionDealPopup  input{
	background: transparent;
	padding-left: 3px;
	border: none;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #58595B;
	height: 32px;
	width: 100%;
	outline: none;
}


.actionDealPopup p{
	position: relative;
	margin-top: 40px;
	border-bottom: 1px solid #E6E7E8;
	width: 296px;
}
.actionDealPopup p:first-child{
    margin-right: 39px;
	
}
.actionDealPopup label {
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 12px;
	top: -10px;
	left: 0px;
	z-index: -5;
	color: #5E99E7;
	-webkit-transition: all .7s;
	opacity: 0;
}
.labelShow{
	opacity: 1!important;
	top: -12px!important;
}
.actionDealPopup .span{
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 16px;
	top: 11px;
	left: 0px;
	z-index: -5;
	color: #BBBDBF;
	-webkit-transition:top .5s;
}
.actionDealPopup input:valid{
	background: white;
}
.actionDealPopup input:valid + label{
	font-size: 12px;
	top: -14px;
	left: 1px;
	color: #5E99E7;
}

.actionDealPopup input:focus{
	background: white;
}

.left{
	float: left;
	clear: both;
}


.right{
	float: right;
}
.addSpan{
	position: relative!important;
	font-family: HelveticaNeue!important;
	font-size: 12px!important;
	color: #929497!important;
	cursor:pointer;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../images/plus.png')no-repeat;
	background-position: 0px 0px;
	top: 7px;
	right: -117px;
}
.addPhone{
	
}
.addEmail{
	
}

#x {
	position: absolute;
	right: 10px;
	display: block;
	width: 14px;
	height: 14px;
	background: url('../images/x-blue.png')no-repeat;
	z-index: 99;
	top: 10px;
	cursor: pointer;
}
#x:hover{
	background: url('../images/x-white.png')no-repeat;
}
.dealPopupFooter {
	position: absolute;
	bottom: 0;
	height: 51px;
	
	width: 100%;
}
.dealPopupFooter > div{
	float: right;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 16px;
	cursor: pointer;
	margin-top: 5px;
}


.dealPopupFooter > div:last-child {
color: #5E99E7;
}

.dealPopupFooter > div:first-child {
color: white;
background: #5E99E7;
border-radius: 7px;
margin-left: 20px;
margin-right: 20px;
font-size: 14px;
font-family: HelveticaNeue-Medium;
}

.selectDiv {
position: absolute;
display: inline-block;
font-family: HelveticaNeue-Light;
font-size: 14px;
height: 21px;
border: 1px solid #EDEDEE;
right: 15px;
top: 9px;
background: white;
padding-left: 5px;
padding-right: 5px;
width: auto;
cursor: pointer;
z-index: 10;
border-radius: 3px;
color: #808184;
line-height: 18px;
}

.optionsDiv {
position: absolute;
display: inline-block;
width: 80px;
border: 1px solid #EDEDEE;
right: 25px;
top: 31px;
background: white;

cursor: pointer;
z-index: 90;
display: none;
padding-top: 3px;
}
.optionsDiv >span {
display: block;
font-family: HelveticaNeue-Light;
font-size: 14px;
color: #808184;
padding-left: 5px;
height: 21px;
line-height: 19px;
}

.optionsDiv >span:hover{
	background: #f2f2f2;
}

.add input{
    width: 234px;
	
}
.currentOption{
	background: #f2f2f2;
	color: black;
	color: black!important;
}
}





.top {
	position: relative;
	top: 40px;
}

*{
	-webkit-user-select: none;
}




.deal_subject{

}

.deal_subject {
	width: 674px!important;
}

.actionDealPopup .bottom{
	float: left;
	overflow: hidden;
	margin-top: 40px;
}
.actionDealPopup .bottom div{
	float: left;
	width: 180px;
	margin-right: 66px;
	margin-top: 17px;
}
.actionDealPopup .bottom div p{
	margin-right: 0px;
	margin-top: 0px;	
	width: 180px;
}
.actionDealPopup .bottom div input{
	width: 180px;
}
.actionDealPopup .bottom .date{
    margin-top: 0px;

}
.actionDealPopup .bottom .currensy{
    position: relative;

    height: 111px;
}

.actionDealPopup .bottom .value{
	margin-right:0px;
}

						

#datetimepicker1 input{
	border-bottom: 1px solid #E6E7E8;
	width: 180px;
	border-radius: 0;
	box-shadow: 0 0 0 white;
}




/* from bootstrap */
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1;
color: #555;
text-align: center;
border: none!important;
border-radius: 0!important;
position: relative;
left: -39px;
z-index: 99;
background: transparent!important;

}

.currencyIcon{
    width: 10px!important;

    height: 10px;
    background: url('/images/arrow-down.png');
    position: absolute;
    top: 4px;
    right: -58px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.currencyOption{
    width: 180px!important;
    position: absolute;
    top: 15px;
    padding-top: 5px;
    border: 1px solid #EDEDEE;
    z-index: 99;
    border-top: 0px;
    padding-bottom: 5px;
    display: none;
}
.currencyOption > span{
	display: block;
	font-family: HelveticaNeue-Light;
	font-size: 14px;
	color: #808184;
	height: 20px;
	line-height: 20px;
	padding-left: 3px;
	cursor: pointer;
}

.currencyOption > span:hover {
background: #f2f2f2!important;
}



.actionDealPopup  .add{
	display: none;
}

.searchContactDeal {
border: 1px solid #E6E7E8;
border-top: 0px;
width: 295px;
padding-top: 5px;
display: none;
}

.searchContactDeal ul{

}

.searchContactDeal ul li {
	padding-left: 5px;
	height: 20px;
	width: 100%;
	font-family: HelveticaNeue-Light;
	font-size: 14px;
	color: #808184;
	cursor: pointer;
	line-height: 20px;
}
.searchContactDeal ul li:hover{
	background: #f2f2f2!important;
}
.searchContactDeal div {
padding-left: 3px;
height: 22px;
line-height: 22px;
font-family: HelveticaNeue-Medium;
color: #808184;
cursor: pointer;
margin-bottom: 3px;
background: #f2f2f2!important;
}



.novisible{
	visibility: hidden;
}








