.actionActivitiesOverlay{
	position: absolute;
	width: 100%;
	height: 150%;
	background: rgba(35, 31, 32, 0.5);
	z-index: 9999999999;
	top: 0
}
.actionActivitiesPopup {
	position: fixed;
	width: 500px;
	height: 450px;
	box-shadow: 0px 4px 10px 6px rgb(131, 126, 126);
	background: white;
	top: -300px;
	border-radius: 4px;
	/* padding-top: 35px; */
	
	left: 37%;
	-webkit-box-sizing: border-box;
	
	opacity: 0;
	-webkit-transition: all .3s;
}

.actionActivitiesPopup	> div{

}
.actionActivitiesPopup	> div:first-child{
	text-align: center;
	color: #FFFFFF;
	font-family: HelveticaNeue-Medium;
	font-size: 18px;
	width: 100%;
	height: 37px;
	background: #5E99E7;
	line-height: 37px;
}
.actionActivitiesPopup > .contactConteinerAction{
	padding-left: 27px;
	padding-right: 20px;
}



///
input{
	outline: none;
	
}
.actionActivitiesPopup  input{
	background: transparent;
	padding-left: 3px;
	border: none;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #58595B;
	height: 32px;
	width: 120px;
}


.actionActivitiesPopup p{
	position: relative;
	margin-top: 40px;
	border-bottom: 1px solid #E6E7E8;
	width: 187px;
}
.actionActivitiesPopup p:first-child{
    margin-right: 39px;
	
}
.actionActivitiesPopup label {
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 12px;
	top: -10px;
	left: 0px;
	z-index: -5;
	color: #5E99E7;
	-webkit-transition: all .7s;
	opacity: 0;
}
.labelShow{
	opacity: 1!important;
	top: -12px!important;
}
.actionActivitiesPopup span{
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 16px;
	top: 11px;
	left: 0px;
	z-index: -5;
	color: #BBBDBF;
	-webkit-transition:top .5s;
}
.actionActivitiesPopup input:valid{
	background: white;
}
.actionActivitiesPopup input:valid + label{
	font-size: 12px;
	top: -14px;
	left: 1px;
	color: #5E99E7;
}

.actionActivitiesPopup input:focus{
	background: white;
}

.left{
	float: left;
}


.right{
	float: right;
}
.addSpan {
position: absolute!important;
font-family: HelveticaNeue!important;
font-size: 12px!important;
color: #929497!important;
right: -5px;
top: 10px;
}
.addPhone{
	
}
.addEmail{
	
}

#x {
	position: absolute;
	right: 10px;
	display: block;
	width: 14px;
	height: 14px;
	background: url('../images/x-blue.png')no-repeat;
	z-index: 99;
	top: 10px;
	cursor: pointer;
}
#x:hover{
	background: url('../images/x-white.png')no-repeat;
}
.activitiesPopupFooter {
	position: absolute;
	bottom: 0;
	height: 51px;
	
	width: 100%;
}
.activitiesPopupFooter > div{
	float: right;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 16px;
	cursor: pointer;
	margin-top: 5px;
}


.activitiesPopupFooter > div:last-child {
color: #5E99E7;
}

.activitiesPopupFooter > div:first-child {
color: white;
background: #5E99E7;
border-radius: 7px;
margin-left: 20px;
margin-right: 20px;
font-size: 14px;
font-family: HelveticaNeue-Medium;
}









.top {
	position: relative;
	top: 0px;
}




















