.actionContactOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(35, 31, 32, 0.5);
	z-index: 9999999999;
	top: 0;
	
	overflow: auto;
}
.actionContactPopup {
position: relative;
width: 753px;
height: 450px;
box-shadow: -1px 4px 10px 6px rgb(131, 126, 126);
background: white;
top: -300px;
border-radius: 4px;
/* padding-top: 35px; */
 left: 30%; 
-webkit-box-sizing: border-box;
opacity: 0;
-webkit-transition: all .1s;
/*margin: 0 auto;*/
z-index: 11;
}

.actionContactPopup	> div{

}
.actionContactPopup	> div:first-child {
text-align: left;
color: #FFFFFF;
font-family: HelveticaNeue-Medium;
font-size: 24px;
width: 100%;
height: 60px;
background: #5E99E7;
line-height: 59px;
padding-left: 25px;
}
.actionContactPopup > .contactConteinerAction{
	padding-left: 41px;
}



///
input{
	outline: none;
	
}
.actionContactPopup  input{
	background: transparent;
	padding-left: 3px;
	border: none;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #58595B;
	height: 32px;
	width: 100%;
	outline: none;
}


.actionContactPopup p{
	position: relative;
	margin-top: 40px;
	border-bottom: 1px solid #E6E7E8;
	width: 296px;
}
.actionContactPopup p:first-child{
    margin-right: 39px;
	
}
.actionContactPopup label {
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 12px;
	top: -10px;
	left: 0px;
	z-index: -5;
	color: #5E99E7;
	-webkit-transition: all .7s;
	opacity: 0;
}
.labelShow{
	opacity: 1!important;
	top: -12px!important;
}
.actionContactPopup .span{
	position: absolute;
	font-family: HelveticaNeue;
	font-size: 16px;
	top: 11px;
	left: 0px;
	z-index: -5;
	color: #BBBDBF;
	-webkit-transition:top .5s;
}
.actionContactPopup input:valid{
	background: white;
}
.actionContactPopup input:valid + label{
	font-size: 12px;
	top: -14px;
	left: 1px;
	color: #5E99E7;
}

.actionContactPopup input:focus{
	background: white;
}

.left{
	float: left;
	clear: both;
}


.right{
	float: right;
}
.addSpanC{
	position: relative!important;
	font-family: HelveticaNeue!important;
	font-size: 12px!important;
	color: #929497!important;
	cursor:pointer;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../images/plus.png')no-repeat;
	background-position: 0px 0px;
	top: 7px;
	right: -43px;
}
.addPhoneC{
	
}
.addEmailC{
	
}

#x {
	position: absolute;
	right: 10px;
	display: block;
	width: 14px;
	height: 14px;
	background: url('../images/x-blue.png')no-repeat;
	z-index: 99;
	top: 10px;
	cursor: pointer;
}
#x:hover{
	background: url('../images/x-white.png')no-repeat;
}
.contactPopupFooter {
	position: absolute;
	bottom: 0;
	height: 51px;
	
	width: 100%;
}
.contactPopupFooter > div{
	float: right;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 16px;
	cursor: pointer;
	margin-top: 5px;
}


.contactPopupFooter > div:last-child {
color: #5E99E7;
}

.contactPopupFooter > div:first-child {
color: white;
background: #5E99E7;
border-radius: 7px;
margin-left: 20px;
margin-right: 20px;
font-size: 14px;
font-family: HelveticaNeue-Medium;
}

.selectDivC {
position: absolute;
display: inline-block;
font-family: HelveticaNeue-Light;
font-size: 14px;
height: 21px;
border: 1px solid #EDEDEE;
right: 15px;
top: 9px;
background: white;
padding-left: 5px;
padding-right: 5px;
width: auto;
cursor: pointer;
z-index: 10;
border-radius: 3px;
color: #808184;
line-height: 18px;

}

.optionsDivC {
position: absolute;
display: inline-block;
width: 80px;
border: 1px solid #EDEDEE;
right: 25px;
top: 31px;
background: white;

cursor: pointer;
z-index: 90;
display: none;
padding-top: 3px;
}
.optionsDivC >span {
display: block;
font-family: HelveticaNeue-Light;
font-size: 14px;
color: #808184;
padding-left: 5px;
height: 21px;
line-height: 19px;
}

.optionsDivC >span:hover{
	background: #f2f2f2;
}

.add input{
    width: 234px;
	
}
.currentOption{
	background: #f2f2f2;
	color: black;
	color: black!important;
}
}





.top {
	position: relative;
	top: 40px;
}

*{
	-webkit-user-select: none;
}






































