.addDeal {
	width: 100%;
	height: 66px;
	overflow: hidden;
	top: 50px;
	background: white;
	z-index:9999;
	border-bottom: 1px solid #e4e4e4;
}


.addDeal .left{
	float: left;
}
.addDeal .left > div{
	display: inline-block;
}
.addDeal .left .add{
	background: #5e99e7;
	width: 96px;
	height: 29px;
	margin-top: 16px;
	margin-left: 24px;
	border-radius: 5px;
	font-family: HelveticaNeue-Medium;
	color: white;
	text-align: center;;
	line-height: 29px;
	margin-right: 26px;
	cursor: pointer;
}
.addDeal .left .options {
	width: 92px;
	height: 29px;
	font-family: HelveticaNeue;
	border: 1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	text-align: center;
	line-height: 29px;
	font-size: 16px;
	color: #939498;
	cursor: pointer;
}
.option-current{
	background: rgb(246,246,247)
}
.addDeal .left .options > a {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	width: 100%;
	height: 100%;
	display: block;
}

.addDeal .left .pip{
	border-radius: 8px 0px 0px 8px;
}
.addDeal .left .list {
	border-left: 0px;
	border-right: 0px;
	margin-right: -5px;
	margin-left: -5px;
}
.addDeal .left .team{
	border-radius: 0px 8px 8px 0px;
}



.addDeal .right{
	float: right;
	overflow: hidden;
}
.addDeal .right > div{
	margin-top: 22px;
}
.addDeal .right .filter {
	background: url('../images/filter-grey.png');
	display: inline-block;
	width: 20px;
	height: 20px;
}

.addDeal .right .download{
	background: url('../images/download-icon.png');
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 26px;
	margin-right: 21px;
}

.rectengle {
	position: fixed;
	top: 41px;
	left: 86px;
	width: 24px;
	height: 10px;
	background: url('../images/triangle-white.png')no-repeat;
	z-index: 9999999999999999999999999999999999999999;
}

@media screen and (max-width: 670px) {
	.addDeal {
	width: 670px;
	height: 65px;
	overflow: hidden;
	}

}









