.addDeal > .left >h1 {
	margin-left: 21px;
	font-size: 22px;
	color: #808184;
	font-family: HelveticaNeue;
	line-height: 65px;
}







.deal-card{
	width: 100%;
}

.dealCard-top {
	width: 100%;
	height: 82px;
	background: #FBFBFB;
	border-top: 1px solid #f1f1f2;
	border-bottom: 1px solid #f1f1f2;
}

.dealCard-top > div{
	float: left;
	text-align: center;
	width: 14%;
	position: relative;
	height: 100%
}
.dealCard-top > div h1{
	font-family: HelveticaNeue;
	font-size: 20px;
	color: #808184;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	top: 19px;
	height: 26px;
}
.dealCard-top > div span{
	display: block;
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #929497;
	position: absolute;
	bottom: 14px;
	width: 100%;
	height: 15px;
}

.dealCard-left {
width: 337px;
float: left;
border-right: 1px solid #f1f1f2;
height: 500px;
}
.dealCard-left >div{

}
.dealCard-left > div > ul{

}
.dealCard-left > div > ul{
	margin-top: 22px;
}
.dealCard-left > div > ul > li {
	border-bottom: 1px solid #f1f1f2;
	padding-top: 8px;
	line-height: 21px;
	padding-bottom: 8px;
	margin-left: 23px;
}
.dealCard-left >div >ul > li:first-child{

}
.dealCard-left >div >ul > li:first-child h1{
	font-family: HelveticaNeue;
	font-size: 18px;
	color: #737175;
}
.dealCard-left >div >ul > li > h1{
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #318FF1;
}
.dealCard-left >div >ul > li > span{
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #318FF1;
}
.dealCard-left >div >ul > li > p{
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #808184;
}
.dealCard-left >div >ul > li > div >span{
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #808184;
}



.dealCard-right{
	width: 100%;
	float: right;
}

.dealCard-right > div{
	width: 100%;
}

.dealCard-right > div:first-child{
	width: 100%;
	float: left;
	overflow: hidden;
}
.dealCard-right > div:first-child > div:first-child{
	width: 100%;
	height: 32px;
	float: left;
	border: 1px solid #f1f1f2;
	overflow: hidden;
}
.dealCard-right > div:first-child > div:first-child ul{
	margin-left: 23px;
	float: left;
}
.dealCard-right > div:first-child > div:first-child ul li{
	float: left;
	margin-right: 60px;
	width: 50px;
	height: 34px;
	line-height: 34px;
	font-family: HelveticaNeue;
	font-size: 14px;
	text-align: center;
	color: #D0D2D3;
}
.dealCard-right > div:first-child > div:first-child ul li:last-child{
	margin-right: 0px;
	color: #318FF1;
}

.dealCard-right > div:first-child > div:nth-child(2){
	float: left;
	clear: both;
	width: 100%;
}

#drug-file{
	width: 97%;
	height: 260px;
	border: 1px dashed #B6B6B6;
	margin: 0 auto;
	margin-top: 15px;
}

.dealCard-right > div:first-child > div:last-child{
	width: 100%;
	height: 53px;
	clear: both;
	float: left;
	border-bottom: 1px solid #f1f1f2;
	padding-top: 19px;
	-webkit-box-sizing: border-box;
}
























































