@font-face {
  font-family: 'helveticaneue-webfont';
  src: url('fonts/helveticaneue-webfont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-family: 'HelveticaNeue-Medium';
  src: url('fonts/HelveticaNeue-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-family: 'HelveticaNeue-Roman';
  src: url('fonts/HelveticaNeue-Roman.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}