/* verssion 2 */

*{
	-webkit-user-select: none;
}

.header {
	width: 100%;
	background: #5e99e7;
	height: 50px;
	overflow: hidden;
	top: 0;
	z-index: 9999;
}

.conteiner{

}



.headLeft{
	float: left;
	overflow: hidden;
}
.headLeft .logo{
	display: inline-block;
	background: url('../images/logo-white.png');
	width: 34px;
	height: 60px;
	float: left;
	margin-left: 16px;
	margin-top: -6px;
	margin-right: 26px;
}
.headLeft ul{
	float: left;
	margin-top: 15px;
}
.headLeft ul li{
	float: left;
	color: white;
	font-size: 18px;
	margin-right: 38px;
	font-family: HelveticaNeue;
}
.headLeft ul li a{
	color:inherit;
	text-decoration: none;
	font-family: inherit;

}

.headRight{
	float: right;

}
.headRight > div{
	float: left;
}

.headRight .search {
	width: auto;
	height: 50px;
	border-left: 1px solid 	#8fb8e5;
	border-right: 1px solid #8fb8e5;
	-webkit-box-sizing: border-box;
}
.headRight .search >span{
	display: inline-block;
	background: url('../images/search-white.png');
	width: 48px;
	height: 50px;
	background-repeat: no-repeat;
}

.headRight .bell {
	background: url('../images/bell-white.png');
	width: 20px;
	height: 50px;
	background-position-y: -6px;
	margin-left: 21px;
}
.headRight .imageUser{
	margin-left: 24px;
}
.headRight .imageUser img {
	margin-top: 8px;
	display: inline-block;
}
.headRight .userName {
	color: white;
	font-family: HelveticaNeue;
	height: 50px;
	line-height: 50px;
	margin-left: 8px;
	font-size: 20px;
}

.headRight .userInfo {
	background: url('../images/arrow-down-white.png');
	width: 18px;
	height: 10px;
	background-repeat: no-repeat;
	margin-left: 8px;
	margin-top: 20px;
	margin-right: 14px;
}
.responsiveNave{
	display: none;
}


@media screen and (max-width: 670px) {

    .responsiveNave {
		background: url('../images/3-lines.png');
		width: 32px;
		height: 50px;
		background-repeat: no-repeat;
		display: block;
		float: left;
		margin-left: 16px;

	}
	.header{

	}

	.headLeft{
		overflow: hidden
	}
	.headLeft .logo{
		position: absolute;
		left: 35%;
		display: none;


	}
	.headLeft ul {
		float: left;
		margin-top: 15px;
		position: absolute;
		top: 36px;
		background: black;
		display: none;
	}
	.headLeft ul li {
		float: left;
		color: white;
		font-size: 18px;
		margin-right: 38px;
		font-family: HelveticaNeue;
		width: 100%;
	}

	.headRight{
		overflow: hidden
	}
	.headRight > div{

	}

	.headRight .search {
		border:none;
	}
	.headRight .search >span{

	}

	.headRight .bell {
		margin-left: 10px;
	}
	.headRight .imageUser{

	}
	.headRight .imageUser img {
		margin-right: 20px
	}
	.headRight .userName {
		display: none;
	}

	.headRight .userInfo {
		display: none;
	}


}



*{
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}

.text{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 15px;
}

.overlay{
	overflow: overlay;
}
