.listPage{
	
}
.listPage .listRow {
float: left;
width: 100%;
border-bottom: 1px solid #e4e4e4;
height: 69px;
min-width: 1400px;
}
.listPage .listRow.listHeader{
	height: 52px;
	background:#F1F1F2;
}
.listPage .listRow.listHeader .unit{

}
.listPage .listRow.listHeader .unit h1{
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #808184;
	line-height: 52px;
}

.listPage .listRow .unit {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
	-webkit-box-sizing: border-box;
	/*margin-right: -40px;
	margin-left: -20px;*/
	padding-top: 14px;
	padding-bottom: 12px;
}
.listPage .listRow .unit h1{
	font-family: HelveticaNeue;
	font-size: 18px;
	color: #5E99E7;
	margin-bottom: 0px;
}
.listPage .listRow .unit h2{
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #808184;
	margin-top: 12px;
}
.listPage .listRow .unit button{
	width: 79px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
	-webkit-box-sizing:border-box;
	background: white;
	outline: none;
	cursor: pointer;
	font-family: HelveticaNeue-Medium;
	font-size: 13px;
	text-align: right;
	padding-right: 5px;
	margin-top: 8px;
	margin-left: 9px;
}
.listPage .listRow.listHeader .unit{
    padding-top: 0px;
	
    padding-bottom: 0px;
}

.redListBtn{
	border-color:#e8928a!important;
	color: #e8928a;
	background: url('../images/clock-red.png')no-repeat!important;
	word-spacing: -3px;
}
.yellowListBtn{
	border-color:#efc319!important;
	color:#efc319;
	padding-left: 0px;

}

.greenListBtn{
	border-color:#80c67e!important;
	color:#80c67e;
	background: url('../images/clock-green.png')no-repeat!important;
	word-spacing: -3px;

}

/*.unit.col1 {
margin-left: 0px!important;
margin-right: 5px!important;
}*/