body{
  margin: 0;
}
.ballsOver{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F6F6F5;
}
.ballsConteiner{
  width: 420px;
  height: 470px;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.ballsConteiner >div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #6699ff;
  border-radius: 100%;
  
  /* opacity: 0; */ 
}

#ball1{
    -webkit-animation: ballTop 1.5s infinite;
    top: 26px;
    left: 146px;
}

#ball2{
    -webkit-animation: ballLeft 1.5s infinite;
    top: 225px;
    left: 34px;
}
#ball3{
    right: 2px;
  
    top: 226px;
    -webkit-animation: ballRight 1.5s infinite;
}


@-webkit-keyframes ballTop {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes ballRight {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes ballLeft {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

h1{
position: absolute;
bottom: -100px;
color: #6699ff;
font-size: 100px;
font-family: HelveticaNeue;
letter-spacing: 0px;
left: 50px;
}


*{
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}










