body{
	background: #F6F6F5;
}

div,p,input{
	-webkit-box-sizing: border-box!important;
}

a,button,.footer .bottom .createAccount span{
	cursor:pointer;
}

form p ::-webkit-input-placeholder{
	color:#e2e2e2;
	font-family: HelveticaNeue-Thin;
	font-size: 24px;
	margin:0;
	padding: 0
}

.conteiner{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.subConteiner{
	width: 307px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 70px;
}
.logoHeader{
	width: 100%;
}
#logo {
	display: block;
	background: url('../img/loginpage-logo.png');
	width: 274px;
	height: 71px;
	margin: 0 auto;
}
input[type=text], input[type=password] {
	display: block;
	margin-top: 10px;
	width: 100%;
	height: 47px;
	line-height: 30px;
	padding: 7px 3px 10px 15px;
	font-size: 24px;
}
input[type=checkbox]{
	font-size: 30px;
}
.formConteiner{
	margin-top: 50px;
}
div.formConteiner.forgotFormConteiner{
	margin-top: 35px;
}
.formConteiner form p {
	font-size: 24px;
	color: #6699ff;
	font-family: HelveticaNeue-Thin;
	width: 100%
}
.formConteiner form p:first-child{
	
} 
.formConteiner form p:nth-child(2){
	margin-top: 30px;
	position: relative;
}
div.formConteiner.forgotFormConteiner p:first-child{
	font-size: 17px;
	color: #5c98e5;
	font-family: HelveticaNeue-Thin;
	margin-bottom: -17px;

}
.formConteiner form p:nth-child(2) span{
	position: absolute;
	right: 0;
}
.formConteiner form p:nth-child(2) span a{
	text-decoration: underline;
	font-size: 16px;
	color: #929191;
}
.formConteiner form p:nth-child(3) {
	font-size: 16px;
	color: #929191;
	margin-top: 42px;
}

.formConteiner form p:last-child{
	margin-top: 16px;
	
}
.formConteiner form p:last-child button{
	text-align: center;
	width: 100%;
	background: #6699ff;
	color: white;
	height: 47px;
	border: none;
	font-size: 24px;
	font-weight: 100;
	font-family: HelveticaNeue-Thin;
}
span.eror {
	color: #ed1c24;
	font-size: 13px;
	margin-top: 19px;
	display: block;
	margin-bottom: -30px;
}

.footer{
	margin-top: 60px;
}

.forgotFooter{
	margin-top: 43px;
}


.footer .googleSignIn {
	width: 100%;
	height: 42px;
	border: 1px solid #DFDFDF;
	line-height: 42px;

}
.footer .googleSignIn .googleImg {
	float: left;
	background: url('../img/loginpage-google-logo.png');
	width: 25px;
	height: 27px;
	position: relative;
	top: 7.5px;
	margin-right: 9px;
	margin-left: 9px;
}
.footer .googleSignIn .googleText{
	float: left;
	font-size: 16px;
	font-family: HelveticaNeue-Thin;

}
.footer .bottom{
	margin-top: 26px;
	overflow: hidden;
	font-size: 16px;
	color: #929191;

}
.footer .bottom .createAccount{
   float: left;
   font-size: 16px;
}
.footer .bottom .createAccount span{
	display: inline-block;
	font-family: HelveticaNeue-Thin;
}
.footer .bottom .createAccount span:first-child{
	border-bottom: 1px solid #929191;
}
.footer .bottom .createAccount span:last-child{
	border-bottom: 1px solid #929191;
}
.footer .bottom .back{
	float: right;
}
.footer .bottom .back a {
	color: #929191;
	font-size: 16px;
}
.footer .bottom .backFromForgot a{
	color: #929191;
}


#over {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0.7;
	z-index: 9999999;
}























