body{
  font-family: Helvetica;
}

.btn-green{
  padding-left: 9px;
  line-height: 150%;
  text-align: center;
  border-radius: 5px;
  padding-right: 9px;
  font-family: Helvetica;
  color: #fff;
  background-color: #00cc99;
  border: 0;
}

.btn-blue-io{
  padding-left: 9px;
  line-height: 150%;
  text-align: center;
  border-radius: 5px;
  padding-right: 9px;
  font-family: Helvetica;
  color: #5e99e7;
  border: 1px solid #5e99e7;
  background-color: #fff;
}
