.pipline {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.pipline .piplineBody{
	width: 20%;
	float: left;
	height: 100%;
}
.pipline  .piplineBody .piplineHead{
	float: left;
	width: 100%;
	background: url('../images/zigzag-pipline.png'),#F6F6F7;
	background-repeat: no-repeat;
	height: 71px;
	border-bottom: 1px solid #e4e4e4;
	position: fixed;
	z-index: 99;
}
.pipline  .piplineBody .piplineHead h1{
	font-size: 22px;
	font-family: Helvetica;
	color: #58595b;
	margin-top: 18px;
	margin-left: 49px;
}
.pipline  .piplineBody .piplineHead span {
	font-size: 14px;
	font-family: HelveticaNeue;
	color: #231F20;
	margin-top: 3px;
	margin-left: 49px;
	display: block;
}

.pipline .piplineBody .piplineInfo {
	height: 92px;
	border-bottom: 1px solid #d0d2d3;
	clear: both;
}

.pipline .piplineBody:last-child .piplineInfo{
	border-right: none;
}
.piplineInfo h2 {
	color: #58595b;
	font-size: 16px;
	font-family: HelveticaNeue-Medium;
	display: block;
	position: relative;
	top: 14px;
	left: 16px;
	cursor:pointer; ;
	width: 155px;
}
.piplineInfo h3{
	font-size: 12px;
	font-family: HelveticaNeue;
	color:#58595b;
	position: relative;
	top: 22px;
	left: 16px;
	width: 104px;
	cursor: pointer;
}
.peeplinedragConteiner{
	clear: both;
	border-bottom: 1px solid #e4e4e4;
	/*height: 558px;*/ /* need to be remover before adding javascript functionality */
	border-right: 1px solid #e4e4e4;
	margin-top: 71px;
	height: 100%;
	
}

.piplineBody:last-child .peeplinedragConteiner {
	border-right: none;
}


.drag{
	position: relative;
	top: 0px;
	z-index: 1;
	background: white;
	cursor:move;
}
.clock{
	width: 79px;
	height: 24px;
	border-radius: 5px;
	border:1px solid;
	position: relative;
	top: 30px;
	left: 16px;
	background-position: 1px 1px;
	padding-left: 22px;
	-webkit-box-sizing: border-box;
	font-size: 14px;
	font-family: HelveticaNeue-Medium;
	line-height: 22px;
	letter-spacing: .5px;
	cursor: pointer;
}

.clockRed{
	border-color:#e8928a;
	color: #e8928a;
	background: url('../images/clock-red.png')no-repeat;
	word-spacing: -3px;
}
.clockYellow{
	border-color:#efc319;
	color:#efc319;
	text-align: center;
	padding-left: 0px;

}

.clockGreen{
	border-color:#80c67e;
	color:#80c67e;
	background: url('../images/clock-green.png')no-repeat;
	word-spacing: -3px;

}

.ui-state-highlight { 
	height: 93px;
	line-height: 20px;
	background: #FBFAFB;
	border: 1px dashed #929497;
	-webkit-box-sizing:border-box;

}
div#status {
position: relative;
height: 65px;
background: white;
margin-top: -66px;
display: none;
z-index: 998;
border-bottom: 1px solid #e4e4e4;
}

div#status > div{
   width: 50%;
   height: 65px;
   float: left;
   font-family: HelveticaNeue-Medium;
   font-size: 38px;
}
div#status > div span{
	position: relative;
	top: 10px;
}

div#status #lost {
	color: #E74E25;
	background-position: 14px 13px;
}
div#status #lost > div {
	background: url('../images/hand-down.png')no-repeat;
	width: 37px;
	height: 37px;
	position: relative;
	top: -24px;
	left: 14px;
}
div#status #lost span{
	left: 64px;
}

div#status #won {
color: #80C67E;
background-position: 567px 8px;
border-left: 1px solid #d0d2d3;
}

div#status #won span {
	display: inline-block;
	float: right;
	right: 89px;
}
div#status #won > div {
	background: url('../images/hand-up.png')no-repeat;
	width: 37px;
	height: 37px;
	float: right;
	position: relative;
	top: 9px;
	left: 41px;
}


@media screen and (max-width: 670px) {
	.pipline {
	width: 670px;
	height: 71px;
	background: rgb(246,246,247);
	overflow: visible;
	}
}
















