.streamView{
	width: 100%;
}

.stream{
	padding-left: 24px;
	width: 100%
;
	height: 80px;
}
.stream input{
	width: 100%;
	border:none;
	height: 80px;
	font-family: HelveticaNeue-Light;
	font-size: 14px;
	color:#808184;
}

.streamActive{
	padding-left: 24px;
    width: 100%;

    height: 42px;
    display: none;
}
.streamActive > button{
	color: #5E99E7;
	border: 1px solid #5E99E7;
	background: white;
	font-family: HelveticaNeue-Medium;
	font-size: 14px;
	width: 48px;
	height:21px;
	text-align: center;
	border-radius: 5px;
}

.streamComents {
	width: 100%;
	height: 31px;
	background: #fbfbfb;
	border-top: 1px solid #D0D2D3;
	border-bottom: 1px solid #D0D2D3;
}