.userContact > div:last-child .dealsUser{
  width: 100%;
  margin-top: 30px;
}



.userContact > div:last-child .dealsUser >ul{
  margin-left: 36px;
}
.userContact > div:last-child .dealsUser > ul > li{
  overflow: hidden;
  width: 98%;
  height: 63px;
  border-bottom: 1px solid #f1f1f2;
}

.userContact > div:last-child .dealsUser > ul > li:last-child{
}


.userContact > div:last-child .dealsUser > ul > li > div{

}
.userContact > div:last-child .dealsUser > ul > li > div:first-child{
  float: left;
  padding-top: 14px;

}


.userContact > div:last-child .dealsUser > ul > li > div:first-child h1{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #318FF1;
  margin-bottom: 8px;
}
.userContact > div:last-child .dealsUser > ul > li > div:first-child span{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #58595b;
}
.userContact > div:last-child .dealsUser > ul > li > div:last-child {
  float: right;
  padding-top: 20px;
}
.userContact > div:last-child .dealsUser > ul > li > div:last-child >button{ 
  font-family:HelveticaNeue-Medium;
  font-size: 13px;
  border-radius: 5px;
  background: none;
  outline: none;
  width: 79px;
  height: 23px;
  cursor: pointer;
  
  position: relative;
  top: -18px;
}
.userContact > div:last-child .dealsUser > ul > li > div:last-child > div{
  display: inline-block;
  margin-left: 25px;
}
.userContact > div:last-child .dealsUser > ul > li > div:last-child > div > img{
    position: relative;

    top: -12px;
}
.userContact > div:last-child .dealsUser > ul > li > div:last-child > div > span{
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #808184;
    position: relative;
    top: -1px;
    left: -37px;
}