.userContact > div:last-child .activitiesUser{
  width: 100%;
  margin-top: 30px;
}



.userContact > div:last-child .activitiesUser >ul{
  margin-left: 36px;
}
.userContact > div:last-child .activitiesUser > ul > li{
  overflow: hidden;
  width: 98%;
  height: 63px;
  border-bottom: 1px solid #f1f1f2;
}

.userContact > div:last-child .activitiesUser > ul > li:last-child{
}


.userContact > div:last-child .activitiesUser > ul > li > div{

}
.userContact > div:last-child .activitiesUser > ul > li > div:first-child{
  float: left;
  padding-top: 14px;

}
.userContact > div:last-child .activitiesUser > ul > li > div:first-child div:first-child{
  display: inline-block;
  margin-right: 17px;
  position: relative;
  top: -15px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:first-child div:last-child{
  display: inline-block;
}
.userContact > div:last-child .activitiesUser > ul > li > div:first-child h1{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #318FF1;
  margin-bottom: 8px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:first-child span{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #58595b;
}
.userContact > div:last-child .activitiesUser > ul > li > div:last-child {
  float: right;
  padding-top: 20px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:last-child >button{ 
  font-family:HelveticaNeue-Medium;
  font-size: 13px;
  border-radius: 5px;
  background: none;
  outline: none;
  width: 79px;
  height: 23px;
  cursor: pointer;
  
  position: relative;
  top: -18px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:last-child > div{
  display: inline-block;
  margin-left: 25px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:last-child > div > img{
    position: relative;

    top: -12px;
}
.userContact > div:last-child .activitiesUser > ul > li > div:last-child > div > span{
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #808184;
    position: relative;
    top: -1px;
    left: -37px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: -13px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 2px;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
 */
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -10px; 
  left: 4px;
  font-size: 12px;
  color: #58595B;
  transition: all .2s;
  font-family: serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  /*border: 1px dotted blue;*/
}