.userContact {
	-webkit-box-sizing: border-box;
	padding-top: 65px;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}
.contact {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	margin-top: -50px;
}

.searchContactConteiner {
	float: left;
	width: 338px;
	height: 65px;
	border-right: 1px solid #E6E7E8;
	-webkit-box-sizing: border-box;
	position: fixed;
	background: white;
	border-bottom: 1px solid #E6E7EA;
	z-index: 99;
}
.searchContactIcon {
	display: block;
	width: 47px;
	background: url('../images/search-contacts.png')no-repeat,white;
	background-position: 21px 18px;
	height: 100%;
	float: left;
}
#searchContact {
	height: 62px;
	border: none;
	outline: none;
	display: inline-block;
	width: 258px;
	font-family: HelveticaNeue;
	font-size: 18px;
	float: left;
	margin-left: 16px;
}
#searchContact::-webkit-input-placeholder{
	font-family: HelveticaNeue;
	font-size: 18px;
}

.addDealC {
	width: 100%;
	height: 65px;
	overflow: hidden;
	z-index: 99;
}

.contact .addDealC {
	width: 82.22%;
	height: 65px;
	overflow: hidden;
	float: right;
	position: fixed;
	right: -93px;
	background: white;
	border-bottom: 1px solid #E6E7E8;
}

.addDealC .left{
	float: left;
}
.addDealC .left > div{
	display: inline-block;
}
.addDealC .left .add{
	background: #5e99e7;
	width: 109px;
	height: 29px;
	margin-top: 16px;
	margin-left: 24px;
	border-radius: 5px;
	font-family: HelveticaNeue-Medium;
	color: white;
	text-align: center;;
	line-height: 29px;
	margin-right: 26px;
	cursor: pointer;
	font-size: 15px;
}
.addDealC .left .options {
	width: 92px;
	height: 29px;
	font-family: HelveticaNeue;
	border: 1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	text-align: center;
	line-height: 29px;
	font-size: 16px;
	color: #939498;
	cursor: pointer;
}

.addDealC .left .options > a {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	width: 100%;
	height: 100%;
	display: block;
}

.addDealC .left .pip{
	border-radius: 8px 0px 0px 8px;
}
.addDealC .left .list {
	border-left: 0px;
	border-right: 0px;
	margin-right: -5px;
	margin-left: -5px;
}
.addDealC .left .team{
	border-radius: 0px 8px 8px 0px;
}



.addDealC .right{
	float: right;
	overflow: hidden;
}
.addDealC .right > div{
	margin-top: 22px;
}
.addDealC .right .filter {
	background: url('../images/filter-grey.png');
	display: inline-block;
	width: 20px;
	height: 20px;
}
.addDealC .right .download{
	background: url('../images/download-icon.png');
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 26px;
	margin-right: 21px;
}
.searchResult {
	width: 338px;
	clear: both;
	float: left;
	-webkit-box-sizing: border-box;
	border-right: 1px solid #D0D2D3;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 65px;
	background-color:#F9F9F9;
}
.searchResult > div {
	height: 30px;
	background: #F1F1F2;
	border-top: 1px solid #f1f1f2;
	line-height: 30px;
	/* border-right: 1px solid #f1f1f2; */
	position: relative;
}
.searchResult > div h1 {
	font-family: Helvetica;
	font-size: 22px;
	color: #58595B;
	background-color:#ECECEC;
	margin-left: 23px;
}
.searchResult > ul {
	list-style: none;
	-webkit-box-sizing: border-box;
	margin-left: -7px;
}
.searchResult >ul > li {
	width: 316px;
	margin-left: 29px;
	border-bottom: 1px solid #EDEDEE;
	height: 77px;
	-webkit-box-sizing: border-box;
	color: #58595B;
	padding-top: 16px;
	cursor: pointer;
}

.searchResult > ul > li >a >h2 {
	font-family: Helvetica;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	height: 19px;
	text-decoration:none;
}
.searchResult > ul > li >a {
	text-decoration:none;
}

.searchResult > ul > li >a >h3 {
	font-family: HelveticaNeue;
	font-size: 14px;
	margin-top: 11px;
	text-decoration:none;
}

.userContact >div:first-child{
	height: 470px;
	width: 100%;

}
.userContact >div:first-child > div:first-child {
	height: 156px;
	background: url('../images/contact-pic.png');
	background-repeat: no-repeat;
	background-position: 37px 30px;
}
.userContact >div:first-child > div:first-child h1 {
font-family: Helvetica;
font-size: 32px;
color: rgb(128,129,132);
-webkit-box-sizing: border-box;
position: relative;
top: 65px;
left: 171px;
height: 34px;
}

.userContact >div:first-child > div:first-child p {
position: relative;
top: 35px;
left: 156px;
font-family: HelveticaNeue-Light;
font-size: 30px;
color: #929497;
height: 42px;
}

.userContact >div:first-child > div:first-child p span {
background: #5e99e7;
color: white;
border-radius: 5px;
display: inline-block;
position: relative;
top: 8px;
font-size: 22px;
padding: 5px;
cursor: pointer;
font-family: HelveticaNeue
}


.userContact >div:first-child > div:nth-child(2) {
	width: 439px;
	float: left;
	clear: both;
	margin-left: 38px;
	margin-top: 13px;
	border-bottom: 1px solid #f1f1f2;
	padding-bottom: 16px;
}
.userContact >div:first-child > div:nth-child(2) > div{
	float: left;
}
.userContact >div:first-child > div:nth-child(2) > div >div{
	display: inline-block;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	color: #5E99E7;
	border: 1px solid #5E99E7;
	height: 28px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 25px;
	border-radius: 5px;
	cursor: pointer;
}
.userContact >div:first-child > div:nth-child(2) > div >div:first-child{
	margin-right: 14px;
}
.userContact >div:first-child > div:nth-child(2) > div >div:last-child{

}
.userContact >div:first-child > div:nth-child(2) > span {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -3px;
	float: right;
}
.userContact >div:first-child > div .facebook-grey{
	background: url('../images/facebook-grey.png');
}
.userContact >div:first-child > div .linkedin-grey{
	background: url('../images/linkedin-grey.png');
}

.userContact >div:first-child > div .googlePlus-grey{
	background: url('../images/g+-grey.png');
}

.userContact >div:first-child > ul {
	margin-left: 40px;
	clear: both;
}
.userContact >div:first-child > ul > li {
	width: 440px;
	height: 41px;
	border-bottom: 1px solid #f1f1f2;
	line-height: 41px;

}
.userContact >div:first-child > ul > li h2{
	display: inline-block;
	width: 80px;
}
.userContact >div:first-child > ul > li h2 a{
	display: block;
	font-family: HelveticaNeue;
	color: #5E99E7;
	text-decoration: none;
	font-size: 14px;
}
.userContact >div:first-child > ul > li h3 {
	display: inline-block;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #808184;
	margin-left: -99px;
}


.userContact > div:nth-child(2)> div{
	height: 80px;
	background: #fbfbfb;
	border-top: 1px solid #D0D2D3;
	border-bottom: 1px solid #D0D2D3;
	width: 100%;
	margin-left: 0px;
}

.userContact > div:nth-child(2) >div >div{
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;

}
.userContact > div:nth-child(2) >div >div > h3{
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #929497;

}
.userContact > div:nth-child(2) >div >div > h2{
	font-family: Helvetica;
	font-size: 20px;
	color: #6D6E70;
}

.streamContact{
	background: url('../images/stream-icon-grey.png');
}
.activitiesContact{
	background: url('../images/activities-icon-grey.png');
}
.dealContact{
	background: url('../images/deals-icon-grey.png');
}


.streamContact, .activitiesContact, .dealContact {
	width: 114px;
	border-right: 1px solid #E6E7E8;
	height: 64px;
	position: relative;
	top: -12px;
	background-position: 35px -12px;
}
.streamContact h3, .activitiesContact h3, .dealContact h3 {
	position: relative;
	top: 43px;
	left: 21px;
}
.streamContact h3{
    left: 21px;

}
.activitiesContact h3{
    left: 11px;

}
.dealContact h3{
    left: 23px;

}



.contactStep {
	background: url('../images/clock-grey.png');
	width: 172px;
	background-position: 24px 20px;
}

.contactDate {
	background: url('../images/contacts-email-icon-grey.png');
	width: 139px;
	background-position: 0px 20px;
}

.contactOwner {
	background: url('../images/profile-pic.png');
	position: relative;
	top: -21px;
	width: 140px;
}


.contactStep,.contactDate,.contactOwner{
	height: 100%;
	text-align: center;
	background-position: 25px 20px;
}
.contactStep h2 {
	position: relative;
	left: 13px;
	top: 22px;
}
.contactDate h2 {
	position: relative;
	top: 21px;
	left: 26px;
}
.contactOwner h2{

}

.contactStep h3, .contactDate h3{
	position: relative;
	bottom: -31px;
	left: 6px;
}
.contactDate h3{
	left: 18px;
}

.contactOwner h3 {
	position: relative;
	bottom: -53px;
	left: -20px;
}


.yellowContactBtn{
	color: #EFC319;
	border: 1px solid #EFC319;
}

.greenContactBtn{
	color: #80C67E;
	border: 1px solid #80C67E;
}

body{
	overflow: hidden;
}
@media screen and (max-width: 1143px){


}
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1173px){

}

@media screen and (max-width: 1175px){
	.userContact > div:nth-child(2)> div {
		height: 80px;
		background: #FBFBFB;
		width: 822px;
	}
	.userContact > div:nth-child(2){

	}
}


.triangleBottom {
position: relative;
background: url('../images/triangle-down.png')no-repeat;
width: 22px;
height: 11px;
display: block;
left: 46px;
top: -1px;
}

.emptySearch {
position: absolute!important;
top: 115px;
width: 337px;
height: 100%!important;
}
