<div class="contact">
	<div class="search-nav">
		<div class="search-header">
				<div class="search-icon" style="float:left"></div>
				<input class="search-input" type="text" placeholder="Search Contacts" ng-model="search_contact_filter"/>
		</div>
		<div class="search-result">
			<div class="group-header">
				<h1 class="gray-header">A</h1>
			</div>
			<ul>
				<li ng-repeat='curr_contact in user_contacts |filter:search_contact_filter' >
					<a ui-sref="contacts.details({contactid:curr_contact.id})">
						<div class="search-result-info" style="font-size:16px;">{{curr_contact.first_name}} {{curr_contact.last_name}}</div>
						<div class="search-result-info" style="font-size:14px;">{{curr_contact.phone}}</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="contact-record">
		<div class="actionbar">
			<button class="btn-green" style="font-weight: bold;" ng-click="toggleContact()">Add Contact</button>
			<div class="right">
				<div class="filter"></div>
				<div class="download"></div>
			</div>
		</div>

		<div ui-view>
			<div ng-include src="contactDetails"></div>
		</div>
	</div>
</div>
<div ng-include="'views/partials/actionContact.html'" ng-show="contactAction"></div>
<div ng-include="'views/partials/actionDeal.html'" ng-show="dealAction"></div>
<div ng-include="'views/partials/actionActivities.html'" ng-show="activitiesAction"></div>
