<div class="contact-info">
  <div style="width:240px;margin:auto;">
    <div class="contact-info-header">
      <div style="position: relative;top: 125px;">
        <h1 class="fullname">
          {{contact.first_name}}
          {{contact.last_name}}
        </h1>
        <h1 class="jobtitle">
          Product Manager at IBM
        </h1>
        <p ng-hide="contact">
          No contacts yet
          <span class="add" ng-click="toggleContact()">Add Contact</span>
          here
        </p>
      </div>
    </div>
    <div class="contact-info-actions">
      <div>
        <img src="../images/facebook-grey.png"/>
        <img src="../images/linkedin-grey.png"/>
        <img src="../images/g+-grey.png"/>
      </div>
      <div>
        <button class="btn-blue-io" style="font-size: 15px;" ng-click="toggleActivities()">Add activity</button>
        <button class="btn-blue-io" style="font-size: 15px;" ng-click="toggleDeal()">Add deal</button>
      </div>
    </div>
    <ul>
      <li>
        <h2><a href="">Job Titel</a><h2>
        <h3>{{contact.job_title}}</h3>
      </li>
      <li>
        <h2><a href="">Company</a><h2>
        <h3>{{contact.company}}</h3>
      </li>
      <li>
        <h2><a href="">Phone</a><h2>
        <h3>{{contact.phone}}</h3>
      </li>
      <li>
        <h2><a href="">Email</a><h2>
        <h3>{{contact.email}}</h3>
      </li>
      <li>
        <h2><a href="">Address</a><h2>
        <h3>{{contact.phone}}</h3>
      </li>
    </ul>
  </div>
</div>

<div class="relatedbar">
  <ul>
    <li>
      <div class="relatedbar-item" style="background: url('../images/stream-icon-grey.png');border-right: 1px solid #e6e6e6;" ng-click="dinamicUrl('usersStream')">
        <h3>Stream (4)</h3>
      </div>
    </li>
    <li>
      <div class="relatedbar-item" style="background: url('../images/activities-icon-grey.png');border-right: 1px solid #e6e6e6;" ng-click="dinamicUrl('usersActivities')">
        <h3>activities (3)</h3>
      </div>
    </li>
    <li>
      <div class="relatedbar-item" style="background: url('../images/deals-icon-grey.png');border-right: 1px solid #e6e6e6;" ng-click="dinamicUrl('dealsUserContact');toogleClass($event)">
        <h3>Deals (2)</h3>
      </div>
    </li>
    <li>
      <div class="relatedbar-item" style="width:150px" ng-click="toggleActivities()">
        <div style="text-align:center;margin-top: 15px;">
          <img src="../images/clock-grey.png"/>
          <span style="font-size:20px;vertical-align: bottom;">JUN 31</span>
        </div>
        <h3 style="top:15px;">Next step</h3>
      </div>
    </li>
    <li>
      <div class="relatedbar-item" style="width:150px" >
        <div style="text-align:center;margin-top: 15px;">
          <img src="../images/contacts-email-icon-grey.png"/>
          <span style="font-size:20px;vertical-align: bottom;">APR 31</span>
        </div>
        <h3 style="top:15px;">last activity</h3>
      </div>
    </li>
    <li>
      <div class="relatedbar-item" style="background: url('../images/profile-pic.png');background-position-y: 4px !important;" >
        <h3>owner</h3>
      </div>
    </li>
  </ul>
</div>
