
	<div class="actionContactOverlay" >
		<div class="actionContactPopup">
			<div>Add Contact</div>
			<div class="contactConteinerAction">
				
						<div class="left">
							<p>
								<input id="firstName" name="firstName" type="text" required="" ng-model="contact.first_name" />
								<span class="span">First name</span>
								<label class="">First name</label>
							</p>	
						</div>
						<div class="right">
							<p>
							<input id="lastName" name="lastName" type="text" required="" ng-model="contact.last_name" />
							<span class="span">Last name</span>
							<label class="">Last name</label>
							</p>
						</div>
						
				
				
						<div class="left add">
							<p>
								<input class="extra"  name="phone" type="text" ng-model="contact.phone" required=""/>
								<span class="span">Phone</span>
								<label class="">Phone</label>
								<span class="selectDivC">work</span>
								<span class ="optionsDivC">
									<span class="currentOption">work</span>
									<span>home</span>
									<span>mobile</span>
									<span>fax</span>
								</span>	
								<span  class="addSpanC addPhoneC"></span>
							</p>
							
						</div>
						<div class="right add">
							<p>
								<input class="extra" name="email" type="text" ng-model="contact.email" required=""/>
								<span class="span">Email</span>
								<label class="">Email</label>
								<span class="selectDivC">work</span>
								<span class ="optionsDivC">
									<span class="currentOption">work</span>
									<span>home</span>
								</span>	
								<span  class="addSpanC addEmailC"></span>	
							</p>
							
						</div>
						
				
						<div class="top">
							<div class="left" >
								<p>
									<input id="jobTitle" name="jobTitle" type="text" ng-model="contact.job_title" required=""/>
									<span class="span">Job title</span>
									<label class="">Job title</label>
								</p>	
							</div>
							<div class="right">
								<p>
									<input id="company" name="company" ng-model="contact.company" type="text" required=""/>
									<span class="span">Company</span>
								<label class="">Company</label>
								</p>
							</div>
				
					
							<div class="left">
									<p>
										<input id="adress" name="adress" type="text" ng-model="contact.adress" required=""/>
										<span class="span">Adress</span>
										<label class="">Adress</label>
									</p>	
							</div>
						</div>
						
						
				

			</div>
			<div class="contactPopupFooter">
				<div ng-click="wrapSaveContact()">Save</div>
				<div ng-click="toggleContact()">cancel</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		(function(){
			$(document).ready(function(){
			$('.selectpicker').selectpicker();
			$(document).on('focus','.actionContactPopup input',function(){
				$(this).parent().find('.filter-option').css('color','black');
				$(this).parent().children('label').addClass('labelShow');
				
				
			})
			
			$(document).on('click','.selectpicker',function(){
				$(this).parent().find('.filter-option').css('color','black');
			})
			$(document).on('focusout','.actionContactPopup input',function(){
				$(this).parent().find('.filter-option').css('color','#BBBDBF');
				if($(this).val().length < 1){
					$(this).parent().children('label').removeClass('labelShow');
				}
			})
			var addEmailC = 0;
			var addPhoneC = 0
			$(document).on('click','.addSpanC',function(){
			if($(this).hasClass('addEmailC')){
				if(addEmailC >= addPhoneC){
					$('.actionContactPopup').height('+=73')
				}
				addEmailC ++;					
			}else{
				if(addPhoneC >= addEmailC){
					$('.actionContactPopup').height('+=73')
				}
				addPhoneC ++;	
			}
			var $that = $(this);
			setTimeout(function(){
				var clone = $that.parent().clone().find("input").val("").removeAttr( "id" ).removeAttr( "ng-model" ).end();
				var nofocus =  clone.insertAfter( $that.parent() );
				if(!nofocus.hasClass('extra')){
					nofocus.children('input').addClass('extra');
				}
				// $('.extra').parent().children('.selectDivC').css('display','block');
				// nofocus.children('input').trigger('focusout')
			},35);	
			
				
			})

			$(document).on('click','.selectDivC',function(){

				var selectDivC = $(this);
				var optionsDivC = $(this).parent().children('.optionsDivC');
				optionsDivC.toggle();
				var move = selectDivC.position();
				optionsDivC.css('left',move.left);
					
								
			})

			$(document).on('click','.optionsDivC span',function(){
				var text = $(this).text();
				$('.optionsDivC span').removeClass('currentOption');
				$(this).addClass('currentOption');
				$(this).parent().parent().children('.selectDivC').text(text);
				$(this).parent().hide();


			})
		});
		})();
		
	</script>
