
	<div class="actionActivitiesOverlay" >
		<div class="actionActivitiesPopup">
			<div>Add activities<div ng-click="toggleActivities()" id="x"></div></div>
			<div class="contactConteinerAction">
				
						<!-- <div class="left">
							<p>
								<input id="firstName" name="firstName" type="text" required="">
								<span>First name</span>
								<label class="">First name</label>
							</p>	
						</div>
						<div class="right">
							<p>
							<input id="lastName" name="lastName" type="text" required="">
							<span>Last name</span>
							<label class="">Last name</label>
							</p>
						</div>
						
				
				
						<div class="left">
							<p>
								<input id="phone" name="phone" type="text" required="">
								<span>Phone</span>
								<label class="">Phone</label>
							</p>
							<span class="addSpan addPhone">add phone</span>
						</div>
						<div class="right">
							<p>
								<input id="email" name="email" type="text" required="">
								<span>Email</span>
								<label class="">Email</label>
							</p>
							<span class="addSpan addEmail">add email</span>
						</div>
						
				
						<div class="top">
							<div class="left">
								<p>
									<input id="jobTitle" name="jobTitle" type="text" required="">
									<span>Job title</span>
									<label class="">Job title</label>
								</p>	
							</div>
							<div class="right">
								<p>
									<input id="company" name="company" type="text" required="">
									<span>Company</span>
								<label class="">Company</label>
								</p>
							</div>
				
					
							<div class="left">
									<p>
										<input id="adress" name="adress" type="text" required="">
										<span>Adress</span>
										<label class="">Adress</label>
									</p>	
							</div>
						</div> -->
						
						
				

			</div>
			<div class="activitiesPopupFooter">
				<div>Save</div>
				<div ng-click="toggleActivities()">cancel</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$(document).on('focus','.actionActivitiesPopup input',function(){
				
				$(this).parent().children('label').addClass('labelShow')
				
				
			})
			$(document).on('focusout','.actionActivitiesPopup input',function(){
				if($(this).val().length < 1){
					$(this).parent().children('label').removeClass('labelShow');
				}
			})
		});
	</script>
