
	<div class="actionDealOverlay" >
		<div class="actionDealPopup">
			<div>Add Deal</div>
			<div class="dealConteinerAction">
				
						<div class="left">
							<p>
								<input class="search" id="contact" name="contact" type="text" required="" ng-model="contact_deal_search" ng-change="show_deal_contact()"/>
								<span class="span">Contact</span>
								<label class="">Contact</label>
							</p>	
							<div class="searchContactDeal">
								<ul>
									<li ng-repeat="deal_contact in user_contacts |filter:contact_deal_search" ng-click="load_contact(deal_contact)">
										{{deal_contact.contact.first_name}}
										<span class="novisible">
											{{deal_contact.contact.id}}
										</span>
									</li>
								</ul>
								<div ng-click="deal_new_contact()">
									Add {{contact_deal_search}}
								</div>
							</div>
						</div>
						<div class="right">
							<p>
							<input id="company" name="company" type="text" required="" />
							<span class="span">Company</span>
							<label class="">Company</label>
							</p>
						</div>
						
				
				
						<div class="left add">
							<p>
								<input  name="phone" type="text"  required=""/>
								<span class="span">Phone</span>
								<label class="">Phone</label>
								<span class="selectDiv">work</span>
								<span class ="optionsDiv">
									<span class="currentOption">work</span>
									<span>home</span>
									<span>mobile</span>
									<span>fax</span>
								</span>	
								<span  class="addSpan addPhone"></span>
							</p>
							
						</div>
						<div class="right add">
							<p>
								<input name="email" type="text" required=""/>
								<span class="span">Email</span>
								<label class="">Email</label>
								<span class="selectDiv">work</span>
								<span class ="optionsDiv">
									<span class="currentOption">work</span>
									<span>home</span>
								</span>	
								<span  class="addSpan addEmail"></span>	
							</p>
							
						</div>
						
				
						<div class="top">
							
				
					
							<div class="left">
									<p class="deal_subject">
										<input id="deal_subject" name="deal_subject" type="text" ng-model="deal.subject" required=""/>
										<span class="span">Deal subject</span>
										<label class="">Deal subject</label>
									</p>	
							</div>
						</div>
						<div class="bottom">
							<div class="date">
									<div class="form-group">
						                <div class='input-group date' id='datetimepicker1'>
						                    <input type='text' class="form-control" placeholder="Due date"  />
						                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						                    </span>
						                </div>
						            </div>
						            <script type="text/javascript">
						           		 $(function () {
						           	    	 $('#datetimepicker1').datetimepicker({
						           	    	 	pickTime: false
						           	    	 });
						            	});
						        	</script>
							</div>
							<div class="currensy">
								<p>
									<input id="currency" name="currency" type="text" ng-model="deal.currency" required=""/>
									<span class="span">Currency</span>
									<label class="">Currency</label>
								</p>
								<div class="currencyIcon"></div>
								<div class="currencyOption">
									<span>$</span>
									<span>shekel</span>
								</div>	
							</div>
							<div class="value">
								<p>
									<input id="value" name="value" type="text" ng-model="deal.amount" required=""/>
									<span class="span">Value</span>
									<label class="">Value</label>
								</p>	
							</div>
						</div>
						
						
				

			</div>
			<div class="dealPopupFooter">
				<div ng-click="wrapSaveDeal()">Save</div>
				<div ng-click="toggleDeal()">cancel</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		(function(){
			$(document).ready(function(){
				$('.selectpicker').selectpicker();
				$(document).on('focus','.actionDealPopup input',function(){
					$(this).parent().find('.filter-option').css('color','black');
					$(this).parent().children('label').addClass('labelShow');
					
					
				})
				
				$(document).on('click','.selectpicker',function(){
					$(this).parent().find('.filter-option').css('color','black');
				})
				$(document).on('focusout','.actionDealPopup input',function(){
					$(this).parent().find('.filter-option').css('color','#BBBDBF');
					if($(this).val().length < 1){
						$(this).parent().children('label').removeClass('labelShow');
					}
				})
				var addEmailD = 0;
					var addPhoneD = 0
				$(document).on('click','.addSpan',function(){
					if($(this).hasClass('addEmail')){
						if(addEmailD >= addPhoneD){
							$('.actionDealPopup').height('+=73')
						}
					addEmailD ++;					
					}else{
						if(addPhoneD >= addEmailD){
							$('.actionDealPopup').height('+=73')
						}
						addPhoneD ++;	
					}
					var $that = $(this);
					setTimeout(function(){
						var clone = $that.parent().clone().find("input").val("").removeAttr( "id" ).removeAttr( "ng-model" ).end();
						var nofocus =  clone.insertAfter( $that.parent() );
						if(!nofocus.hasClass('extra')){
							nofocus.children('input').addClass('extra');
						}
						nofocus.children('input').trigger('focusout')
						},35);	
					
						
				})

				$(document).on('click','.selectDiv',function(){
					var selectDiv = $(this);
					var optionsDiv = $(this).parent().children('.optionsDiv');
					optionsDiv.toggle();
					var move = selectDiv.position();
					optionsDiv.css('left',move.left);
						
									
				})

				$(document).on('click','.optionsDiv span',function(){
					var text = $(this).text();
					$('.optionsDiv span').removeClass('currentOption');
					$(this).addClass('currentOption');
					$(this).parent().parent().children('.selectDiv').text(text);
					$(this).parent().hide();


				})

				$(document).on('click','.currencyIcon',function(){
					$('.currencyOption').toggle();
				})
				$(document).on('click','.currencyOption span',function(){
					$('.currencyOption span').removeClass('currentOption');
					$(this).addClass('currentOption');
					$('.currensy input').val($(this).text());
					$('.currensy input').trigger('focus');
					$('.currencyOption').hide();
				})
			});
		
		})();
		
	</script>
