<!--add deal page -->
    <div class="addDeal">
      <div class="left">
        <div class="add" ng-click="toggleDeal()">Add Deal</div>
        <div class="pip options"><a ng-href="#/">Pipline</a></div>
        <div class="list options"><a ng-href="#/list">List</a></div>
        <div class="team options"><a ng-href="#/team">Team</a></div>
      </div>
      <div class="right">
        <div class="filter"></div>
        <div class="download"></div>
      </div>
    </div>
    <!--add deal page end -->