
<div class="dealsUser">
	<ul>
		<li>
			<div>
				<h1>Trip to thailand</h1>
				<span>500K</span>
			</div>
		
			<div>
				<button class="yellowContactBtn">Add step</button>
				<div>
					<img src="images/profile-pic.png">
					<span>Devid</span>	
				</div>
			</div>
		</li>
		<li>
			<div>
				<h1>New car</h1>
				<span>45k</span>
			</div>
			
			<div>
				<button class="greenContactBtn">Dec 31</button>
				<div>
					<img src="images/profile-pic.png">
					<span>Devid</span>	
				</div>
			</div>
		</li>
	</ul>
</div>