    <div class="header">
        <div class="headLeft">
          <div class="responsiveNave"></div>
          <a class="logo" href="#/"></a>
          <ul>
              <li><a ng-href="#/" ng-click="moveTriangle($event,'.rectengle')">Deals</a></li>
              <li><a ng-href="#/contacts" ng-click="moveTriangle($event,'.rectengle')">Contacts</a></li>
              <li><a ng-href="#/activities" ng-click="moveTriangle($event,'.rectengle')">Activities</a></li>
          </ul>
        </div>
        <div class="headRight">
          <div class="search">
            <span></span>
          </div>
          <div class="bell"></div>
          <div class='imageUser'>
            <img src="images/profile-pic.png">
          </div>
          <div class="userName">{{user_name}}</div>
          <div class="userInfo"></div>
        </div>
        <div class="rectengle"></div>
    </div>