<style type="text/css">
	.ballsOver{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5e99e7;
}
.ballsConteiner{
  width: 420px;
  height: 470px;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.ballsConteiner >div {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 100%;

  /* opacity: 0; */
}

#ball1{
    -webkit-animation: ballTop 1.0s infinite;
    top: 26px;
    left: 146px;
}

#ball2{
    -webkit-animation: ballLeft 1.0s infinite;
    top: 225px;
    left: 34px;
}
#ball3{
    right: 2px;

    top: 226px;
    -webkit-animation: ballRight 1.0s infinite;
}
@-webkit-keyframes ballTop {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes ballRight {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes ballLeft {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#textLogo{
position: absolute;
bottom: -100px;
color: #ffffff;
font-size: 100px;
font-family: HelveticaNeue;
letter-spacing: 0px;
left: 50px;
}



</style>
<div class="ballsOver">
		<div class="ballsConteiner">
			<div id="ball1"></div>
			<div id="ball2"></div>
			<div id="ball3"></div>
			<h1 id="textLogo">Vicenty</h1>
		</div>
</div>
