<style type="text/css">
	.ballsOver{
  position: absolute;
  width: 100%;
  height: 100%;
}
.ballsConteiner{
  width: 100%;/* its base on 420 px or devise it */
  height: 100%;/* its base on 470 px or devise it */
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.ballsConteiner >div {
  position: absolute;
  width: 35.714285714285715%;
  height: 31.914893617021278%;
  background: white;
  border-radius: 100%;
  
  /* opacity: 0; */ 
}

#ball1{
    -webkit-animation: ballTop 1.5s infinite;
    top: 5.531914893617022%;
    left: 34.76190476190476%;
}

#ball2{
    -webkit-animation: ballLeft 1.5s infinite;
    top: 47.87234042553192%;
    left: 8.095238095238095%;
}
#ball3{
    top: 48.08510638297872%;
    right: 0.47619047619047616%;
    -webkit-animation: ballRight 1.5s infinite;
}


@-webkit-keyframes ballTop {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes ballRight {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes ballLeft {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#textLogo{
position: absolute;
bottom: -100px;
color: #6699ff;
font-size: 100px;
font-family: HelveticaNeue;
letter-spacing: 0px;
left: 50px;
}


*{
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}
</style>
<div class="ballsOver">
		<div class="ballsConteiner">
			<div id="ball1"></div>
			<div id="ball2"></div>
			<div id="ball3"></div>
		</div>		
</div>

<script type="text/javascript">
	function procent(value,totalValue){
		var result = value * 100 / totalValue;
		return result;
	}

</script>