

<div class="activitiesUser">
	<ul>
		<li>
			<div>
				<div>
					<input type="checkbox" id="test1" />
    				<label for="test1"></label>
				</div>
				<div>
					<h1>Trip to thailand</h1>
					<span>500K</span>
				</div>
			</div>
		
			<div>
				<button class="yellowContactBtn">Add step</button>
				<div>
					<img src="images/profile-pic.png">
					<span>Devid</span>	
				</div>
			</div>
		</li>
		<li>
			<div>
				<div>
					<input type="checkbox" id="test2"  />
    				<label for="test2"></label>
				</div>
				<div>
					<h1>New car</h1>
					<span>45k</span>
				</div>
			</div>
			
			<div>
				<button class="greenContactBtn">Dec 31</button>
				<div>
					<img src="images/profile-pic.png">
					<span>Devid</span>	
				</div>
			</div>
		</li>
	</ul>
</div>