<div class="streamView">
	<div class="stream">
		<input type="text">
	</div>
	<div class="streamActive">
		<button>Post</button>
	</div>
	<div class="streamComents">
		
	</div>	
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('.stream > input').on('keydown',function(){
			$('.streamActive').show();
		})
	})

</script>
